{% extends "base.html" %}

{% block content %}
  <form method="get" action="{% url 'creations' %}">
    {{ filter.form.as_p }}
    
    <button type="submit">Filter</button>
    <a href="?">Resetear filtros</a>
  </form>
  <h1>Creation List</h1>
  {% if product_list %}
    <ul>
      {% for product in product_list %}
      <li>
        <a href="{% url 'creation-detail' pk=product.id %}">{{ product.title }}</a>
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no products in the library.</p>
  {% endif %}
  
{% endblock %}
