{% extends 'base.html' %}

{% block content %}
<h1>{{ product.title }}</h1>
<!-- DETALLES DE LA CREACION CONJUNTOS TEREMINADO-->
<div>
  <h2>Detalles de la creación</h2>
  <p><strong>Formato:</strong> {{ type }}</p>
  <p><strong>Título original: </strong>{{ product.creation.original_title }}</p>
  {% if  product.creation.subtitles %}
    <p><strong>Subtítulos, capítulos y entregas: </strong>{{ product.creation.subtitles }}</p>
  {% endif %}
  {% if  product.creation.authorship %}
    <p><strong>Autoría: </strong>{{ product.creation.authorship }}</p>
  {% endif %}
  <p><strong>Año de publicación: </strong>{{ product.creation.publication_year }}</p>
  {% if  product.creation.synopsis %}
    <p><strong>Sinopsis: </strong>{{ product.creation.synopsis }}</p>
  {% endif %}



  <!-- DETALLES DE LA MEDIACREATION TERMINADO-->
  {% if type == "Película" or type == "Videojuego" or type == "Serie de television" %}
    {% if  product.creation.idioma_original %}
      <p><strong>Idioma original: </strong>{{ product.creation.idioma_original }}</p>
    {% endif %}
    {% if  product.creation.IMDb %}
      <p><strong>ImdDB: </strong><a href="{{ product.creation.IMDb }}" target="_blank">Enlace</a></p>
    {% endif %}
    {% if  product.creation.commertial_editions %}
      <p><strong>Ediciones comerciales: </strong>{{ product.creation.commertial_editions }}</p>
    {% endif %}
    {% if product.creation.mediacreation_other_countries_debut.all %}
      <h5>Estreno en otros países:</h5>
      <ul>
        {% for debut in product.creation.mediacreation_other_countries_debut.all %}
          <li>
            <p>{{ debut.pais }}, {{debut.description}}, [{{ debut.year }}]</p>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endif %}


  {% if product.creation.paises.all %}
    <h5>Países relacionados:</h5>
    <ul>
      {% for country in product.creation.paises.all %}
        <li>{{ country.name }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if product.creation.palabras_clave.all %}
    <h5>Palabras clave:</h5>
    <ul>
      {% for keyword in product.creation.palabras_clave.all %}
      <li>{{ keyword.name }}</li>
      {% endfor %}
    </ul>
  {% endif %}
</div>

<!-- Agrega más detalles según sea necesario -->
{% with product_creation=product.creation %}

<p>Artista: {{ product_creation.producer }}</p>

{% endwith %}


<!-- HIPOTEXTO TERMINADO-->
{% if product.product_hipotext %}
<h2>Hipotexto</h2>
  {% if product.product_hipotext.hipotext_classic_sources.all %}
    <div>
      <h4>Fuentes Clásicas</h4>
      <ul>
        {% for classic_source in product.product_hipotext.hipotext_classic_sources.all %}
          <li><p>{{ classic_source.name|default:"" }} {{ classic_source.title|default:"" }} {{ classic_source.reference|default:""}}</p></li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  {% if product.product_hipotext.hipotext_other_sources.all %}
    <div>
      <h4>Otras Fuentes</h4>
      <ul>
        {% for other_source in product.product_hipotext.hipotext_other_sources.all %}
          <li><p>{{ other_source.name|default:"" }} {{ other_source.title|default:"" }} {{ other_source.reference|default:"" }}</p></li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  {% if product.product_hipotext.hipotext_documentary_sources.all %}
    <div>
      <h4>Fuentes Documentales</h4>
      <ul>
        {% for documentary_source in product.product_hipotext.hipotext_documentary_sources.all %}
          <li><p>{{ documentary_source.name|default:"" }} {{ documentary_source.title|default:"" }} {{documentary_source.reference|default:"" }}</p></li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
{% endif %}


<!-- PARATEXTO TERMINADO-->
  {% if product.product_paratext %}
    <div>
      <h2>Paratextos</h2>
      {% if product.product_paratext.introduction %}
        <strong>Introducción</strong>
        <p>{{ product.product_paratext.introduction }}</p>
      {% endif %}
      {% if product.product_paratext.prologue %}
        <strong>Prólogo</strong>
        <p>{{ product.product_paratext.prologue }}</p>
      {% endif %}
      {% if product.product_paratext.epilogue %}
        <strong>Epílogo</strong>
        <p>{{ product.product_paratext.epilogue }}</p>
      {% endif %}
      {% if product.product_paratext.notes %}
        <strong>Notas, citas, scholia varia, ...</strong>
        <p>{{ product.product_paratext.notes }}</p>
      {% endif %}

      {% if product.product_paratext.paratext_cover.all %}
        <div>
          <strong>Cartel portada, contraportada y carátula</strong>
        </div>
        {% for cover in product.product_paratext.paratext_cover.all %}
          <ul>
            {% if cover.image %}
              <img src="{{ cover.image }}" alt="{{ cover.description}} " style="max-width: 300px;">
            {% endif %}
            <p>{{ cover.description|default:"" }}</p>
          </ul>
        {% endfor %}
      {% endif %}
    
      {% if product.product_paratext.paratext_adstrailer.all %}
        <div>
          <strong>Anuncios y tráileres</strong>
        </div>
        {% for adstrailer in product.product_paratext.paratext_adstrailer.all %}
          <ul>
            {% if adstrailer.image %}
              <img src="{{ adstrailer.image }}" alt="{{ adstrailer.description}} " style="max-width: 300px;">
            {% endif %}
            <p>{{ adstrailer.description|default:"" }}</p>
            {% if adstrailer.videoclip %}
              <a href="{{ adstrailer.videoclip }}" target="_blank">Enlace al tráiler</a>
            {% endif %}
          </ul>
        {% endfor %}
      {% endif %}

      {% if product.product_paratext.paratext_extras.all %}
        <div>
          <strong>Extras</strong>
        </div>
        {% for extra in product.product_paratext.paratext_extras.all %}
          <ul>
            {% if extra.image %}
              <img src="{{ extra.image }}" alt="{{ extra.description}} " style="max-width: 300px;">
            {% endif %}
            <p>{{ extra.description|default:"" }}</p>
            {% if extra.videoclip %}
              <a href="{{ extra.videoclip }}" target="_blank">Enlace al extra</a>
            {% endif %}
          </ul>
        {% endfor %}
      {% endif %}

      {% if product.product_paratext.paratext_rulebook.all %}
        <div>
          <strong>Libros de reglas</strong>
        </div>
        {% for rulebook in product.product_paratext.paratext_rulebook.all %}
          <ul>
            {% if rulebook.image %}
              <img src="{{ rulebook.image }}" alt="{{ rulebook.description}} " style="max-width: 300px;">
            {% endif %}
            <p>{{ rulebook.description|default:"" }}</p>
          </ul>
        {% endfor %}
      {% endif %}
      {% if product.product_paratext.paratext_videoclip.all %}
        <div>
          <strong>Videoclips y actuaciones directo</strong>
        </div> 
        {% for videoclip in product.product_paratext.paratext_videoclip.all %}
          <ul>
            {% if videoclip.image %}
              <img src="{{ videoclip.image }}" alt="{{ videoclip.description}} " style="max-width: 300px;">
            {% endif %}
            <p>{{ videoclip.description|default:"" }}</p>
            {% if videoclip.videoclip %}
              <a href="{{ videoclip.videoclip }}" target="_blank">Enlace al videoclip</a>
            {% endif %}
          </ul>
        {% endfor %}
    {% endif %}
    </div>
  {% endif %}

  <!-- METATEXTOS TERMNINADO -->
  {% if product.product_metatext %}
    <div>
      <h2>Metatextos</h2>

      {% if product.product_metatext.metatext_declarations.all %}
        <div>
          <strong>Declaraciones autorizadas</strong>
        </div>
        {% for declaration in product.product_metatext.metatext_declarations.all %}
          <ul>
            <p>{{ declaration.description|default:"" }}</p>
            {% if declaration.link %}
              <a href="{{ declaration.link }}" target="_blank">Enlace a la declaración</a>
            {% endif %}
          </ul>
        {% endfor %}
      {% endif %}

      {% if product.product_metatext.metatext_criticism.all %}
        <div>
          <strong>Críticas</strong>
        </div>
        {% for criticism in product.product_metatext.metatext_criticism.all %}
          <ul>
            <p>{{ criticism.description|default:"" }}</p>
            {% if criticism.link %}
              <a href="{{ criticism.link }}" target="_blank">Enlace a la crítica</a>
            {% endif %}
          </ul>
        {% endfor %}
      {% endif %}

      {% if product.product_metatext.metatext_press_article.all %}
        <div>
          <strong>Críticas</strong>
        </div>
        {% for press_article in product.product_metatext.metatext_press_article.all %}
          <ul>
            <p>{{ press_article.description|default:"" }}</p>
            {% if press_article.link %}
              <a href="{{ press_article.link }}" target="_blank">Enlace al artículo</a>
            {% endif %}
          </ul>
        {% endfor %}
      {% endif %}

      {% if product.product_metatext.metatext_social_networks.all %}
        <div>
          <strong>Críticas</strong>
        </div>
        {% for social_network in product.product_metatext.metatext_social_networks.all %}
          <ul>
            <p>{{ social_network.description|default:"" }}</p>
            {% if social_network.link %}
              <a href="{{ social_network.link }}" target="_blank">Enlace</a>
            {% endif %}
          </ul>
        {% endfor %}
      {% endif %}

      {% if product.product_metatext.metatext_blogs.all %}
        <div>
          <strong>Blogs</strong>
        </div>
        {% for blog in product.product_metatext.metatext_blogs.all %}
          <ul>
            <p>{{ blog.description|default:"" }}</p>
            {% if blog.link %}
              <a href="{{ blog.link }}" target="_blank">Enlace</a>
            {% endif %}
          </ul>
        {% endfor %}
      {% endif %}

      {% if product.product_metatext.metatext_fandoms.all %}
        <div>
          <strong>Fandoms</strong>
        </div>
        {% for fandom in product.product_metatext.metatext_fandoms.all %}
          <ul>
            <p>{{ fandom.type|default:"" }}: {{ fandom.name|default:"" }}</p>
            {% if fandom.link %}
              <a href="{{ fandom.link }}" target="_blank">Enlace</a>
            {% endif %}
          </ul>
        {% endfor %}
      {% endif %}
    </div>
  {% endif %}


 
  <!-- TRASVASES MEDIALES TERMINADO-->
  {% if  product.product_medialTransfer %}
    <div>
      <h2>Trasvases mediales</h2>
      {% if product.product_medialTransfer.hypertext %}
        <p>Hipertexto: {{ product.product_medialTransfer.hypertext|default:"" }}</p>
      {% endif %}
      {% if product.product_medialTransfer.Transmedialidad %}
        <p>Transmediality: <a href="{% url 'creation-detail' pk=product.product_medialTransfer.Transmedialidad.id %}">{{ product.product_medialTransfer.Transmedialidad.title }}</a></p>
      {% endif %}
      
    </div>
  {% endif %}
  <!-- BIBLIOGRAFIA TERMINADO-->
  
  {% if product.product_bibliography %}
  <div>
    <h2>Bibliografía:</h2>
    {% if  product.product_bibliography.studies_tradition_classical_reception %}
      <strong>Estudios de Tradición y Recepción Clásica</strong>
      <p>{{product.product_bibliography.studies_tradition_classical_reception|urlize|linebreaks }}</p>
    {% endif %}
    {% if  product.product_bibliography.other_studies %}
    <strong>Otros estudios</strong>  
     <p>{{ product.product_bibliography.other_studies|urlize|linebreaks }}</p>
    {% endif %}
  </div>
  {% endif %}

{% endblock %}
